<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182221656090-238fmsos42ct12alsb86edh3l6le028k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182221656090-238fmsos42ct12alsb86edh3l6le028k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>182221656090-shbjksn4n6qci7jm3nd58i5bq8sk54t6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACVTudVydWnw829Wrr3zQzYDISMxot9DE</string>
	<key>GCM_SENDER_ID</key>
	<string>182221656090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hms.gamesarena.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>games-arena-dbc67</string>
	<key>STORAGE_BUCKET</key>
	<string>games-arena-dbc67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182221656090:ios:873f3c31a9373998ad41a3</string>
	<key>DATABASE_URL</key>
	<string>https://games-arena-dbc67-default-rtdb.firebaseio.com</string>
</dict>
</plist>